@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #e0d1d1;
}

@theme inline {
  --color-primary: var(--color-neutral-900) ;
  --color-secondry: var(--color-neutral-500)
}

.dark {
  --color-primary : var(--color-neutral-100);
  --color-secondary : var(--color-neutral-400)
}

